* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container_general {
    background-color: rgb(106, 228, 228);
}
.container  {
    margin: 10px;
    padding: 5px;
}

/* Listas */
.li {
    list-style: none;
}

/* cajas */
#container_div {
    display: flex;
}
.cajas {
    border: 1px solid green;
    background-color:aquamarine;
    margin-right: 10px;
    padding: 5px;
}

/* botones */
.btn {
    width: 70px;
}